/* Reset global layout style */
#ux-content {
    background: #fff;
}

/* Widgets */
.widget-item {
    color: #404040;
}

.widget-item h3 {
    color: #404040;
}

#widget-settings {
    min-heigth: 400px;
}

/* Modules */
.module-item {
    color: #404040;
}

.module-item h3 {
    color: #404040;
}

/* Widgets and modules column */
.widget-item {
    cursor: pointer;
}

/* Website viewport */
#website-viewport {
    background: #fff;
    color: #000;
}
#website-viewport-content {
    height: 400px; 
    min-height: 400px;
}
.ui-widget-droppable {
    height: 400px; 
    min-height: 400px;
}

#website-viewport .widget-toolbar {
    width: 100%;
}

/* Edition mode */
.col-md-12 {
    border: solid 1px #404040;
}