/* Reset global layout style */
#ux-content {
    background: #404040;
}

/* Widgets */
.widget-item {
    color: #404040;
}

.widget-item h3 {
    color: #404040;
}

#widget-settings {
    min-heigth: 400px;
}

/* Modules */
.module-item {
    color: #404040;
}

.module-item h3 {
    color: #404040;
}

/* Widgets and modules column */
.widget-item {
    cursor: pointer;
}

/* Website viewport */
#website-viewport {
    background: #fff;
    color: #000;
    height: 400px; 
    min-height: 400px;
}

#website-viewport .widget-toolbar {
    width: 100%;
}